<div class="jumbotron">
  <form ng-submit="handleRegistration(registrationForm)" role="form" ng-init="registrationForm = {}" ng-if="!user.signedIn">
    <div class="form-group">
      <label>email</label>
      <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
    </div>

    <div class="form-group">
      <label>password</label>
      <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
    </div>

    <div class="form-group">
      <label>password confirmation</label>
      <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Register</button>
  </form>


  <form ng-submit="handleLogin(loginForm)" role="form" ng-init="loginForm = {}" ng-if="!user.signedIn">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"
             name="email"
             id="email"
             ng-model="loginForm.email"
             required="required"
             class="form-control">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
             name="password"
             id="password"
             ng-model="loginForm.password"
             required="required"
             class="form-control">
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
  </form>

  <button class="btn btn-primary btn-lg" ng-click='handleSignOut()' ng-if="user.signedIn">Sign out</button>

</div>

<div class="jumbotron">
  <form ng-submit="handleBMIClick(bmiForm)" role="form">
    <div class="form-group">
      <label for="height">Height</label>
      <input type="number"
             name="height"
             id="height"
             ng-model="bmiForm.height"
             required="required"
             class="form-control">
    </div>

    <div class="form-group">
      <label for="weight">Weight</label>
      <input type="number"
             name="weight"
             id="weight"
             ng-model="bmiForm.weight"
             required="required"
             class="form-control">
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Calculate!</button>
    <div> {{category}} </div>
  </form>
</div>

